# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Virtual environment
venv/
ENV/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info
*.egg

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDEs / editors
.vscode/
.idea/

# Images or other large data files (optional)
images/
